main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h1 {
  font-size: 22px;
  padding: 5px;
}

.modal ul {
  padding: 5px;
}

.modal ul .repo {
  margin: 5px 0;
  padding: 10px;

  box-shadow: 0 0 2px black;
  background-color: lightgray;
}

.modal ul .repo h3 {
  color: rgb(25, 25, 25);
}

.modal ul .repo h3:hover {
  color: midnightblue;
}

.modal ul .repo p {
  font-size: 12px;
  color: rgb(55, 55, 55);
}
