html,
body,
div,
header,
nav,
ul,
li,
h1,
h3,
p,
span,
a {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: sans-serif;
  font-family: "Mukta", sans-serif;
}

body {
  background-color: #f3f3f3;
}

button,
a {
  cursor: pointer;
}
